.casting-rows {
        display: flex;
        width: 70%;
        margin: 0 auto;
        margin-top: 4rem;
    
}
@media (max-width: 650px) {
        .casting-rows {
          width: 100%;
          margin-right: -10rem;
        }
       
      }
      @media (max-width: 650px) {
        
        .but{
                margin-right: -12rem;
        }
      }