.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.most-rated-movies{
  margin-bottom: 11rem;
}
.most-rated-movies{
  margin-bottom: 12rem;
  width: 100%;
}
