.play-button-circle {
    width: 4rem; /* Adjust the size as needed */
    height: 4rem; /* Adjust the size as needed */
    background: rgba(255, 255, 255, 0.50);
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .trailer-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;
  }


  
