.title-card {
    font-size: xx-large;
    color: aliceblue;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Use 100% width to center-align the content horizontally */
  }
  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }